// ESN COLOUR PALETTE
// COLOUR PALETTE

$white: #fff; // White
$black: #000; // Black
$light_grey: #cfcfcf; // light grey
$cta_colour: #000; // CTA COLOUR
$facebook_blue: #3b5998; // FACBOOK BLUE
$twitter: #00aced; // Twitter blue